/* import the font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font applyed 'EB Garamond', serif; */
/* first mobile */

@media only screen and (max-width: 375px){
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:hsl(0, 0%, 100%);
    font-family:'EB Garamond', serif;
}



header img{
    max-width: 100%; 
    height: auto; 
    object-fit: cover; 
}
}

.firstPresentation h1{
    display: flex ;
    justify-content: center;
    font-size: 40px;
    margin: 5% 10%;
}

.firstPresentation p{
    display: flex ;
    justify-content: center;
    margin: 5% 10%;
    font-weight: bold;
    color: rgb(152, 148, 145);
}

/* preparation */ 
.preparation{
  background-color: rgb(255, 247, 252);
  margin: 5% 8%;
  padding: 8% 0%;
}

.preparation h1{
  margin-left:5%; 
  margin-top: -4%;
  color: #6F2D49;
  font-weight: bold;
}

.preparation ul{
  margin:3%; 
  color: rgb(94, 39, 62);
  font-weight: bold;
}

.preparation li {
  position: relative;
  padding-left: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.preparation span{
  color: black;
  font-weight: bold;
}

li .comonPreparation{
  color: rgb(152, 148, 145);
}

/* ingredients. */
.ingredients{
  color: #74493C;
}

.ingredients h1{
  font-size: 30px;
  padding-left: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.ingredients span{
  color: #989491;
}

.ingredients li{
  color: #74493C;
  padding-left: 8%;
  margin: 4%;
  max-width: 75%;
}

.ingredients hr{
  position: relative;
  border-bottom: 1px solid #EBEBEB;
  margin: 10% 8%;
}

/* Instructions */
.Instructions{
  color: #74493C; 
}

.Instructions h1{
  font-size: 30px;
  padding-left: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Instructions li{
  padding-left: 8%;
  margin: 4%;
  max-width: 75%;
}

.resaltadoInstrucions{
  font-weight: bold;
  color: black;
}

li .comunInstrucions {
  color: rgb(152, 148, 145);
}

.Instructions hr{
  position: relative;
  border-bottom: 1px solid #EBEBEB;
  margin: 10% 8%;
}

/* nutrition */
.nutrition h1{
  color:#74493C;
  font-size: 30px;
  padding-left: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.nutrition p{
  padding-left: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
  color:rgb(152, 148, 145);
}

.nutrition li{
  list-style: none;
  padding-left: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.primeroNutrition{
  position: relative;
  color: rgb(152, 148, 145);
  margin-top: 50%;
}

li .datosNutrition{
  position: relative;
  color:#74493C;
  padding-left: 40%;
  bottom: 20px;

} 

.nutrition hr{
  position: relative;
  margin-right: 12%;
  color:#EBEBEB ;
  bottom: 22px;
}

footer{
  font-family: inherit;
}

/* #####################################
#####################################
#####################################
#####################################
#####################################
##################################### */

/* Computer */

@media only screen and (min-width: 376px){
  body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color:hsl(0, 0%, 100%);
      font-family:'EB Garamond', serif;
      background-color: #EFE4DA;
  }
  
  #contenidoGlobal{
    margin:10%;
    padding: 5%;
    background-color: #FFFFFF;
    border-radius: calc(2% + 5vw);;
  
  }

  header{
    display: flex;
    justify-content: center;
  }

  header img{
      max-width: 62vw; 
      height: auto; 
      object-fit: cover; 
      border-radius: calc(2% + 5vw);
      margin: 5% 5% 3% 5%;
      padding: 0 5%;
  }
  }
  
  .firstPresentation{
    max-width: 100%;
  }
  
  .firstPresentation h1{
    display: flex;
    justify-content: flex-start;
    max-width: 100vw;  
    margin: 0;
    padding: 0;
    font-size: 550%;
    margin: 0 5%;
  }
  
  .firstPresentation p{
      display: flex;
      justify-content: flex-start;
      font-weight: bold;
      color: rgb(152, 148, 145);
      margin: 0;
      padding: 2% 0;
      margin: 0 5%;
      font-size: 220%;
  }
  
  /* preparation */ 
  .preparation{
    display: flexbox;
    justify-content: flex-start;
    background-color: rgb(255, 247, 252);
    padding: 0;
    margin: 7% 5%;
    border-radius: 2vw;
  }
  
  .preparation h1{
    transform: translate(-1%, 50%);
    color: #6F2D49;
    font-weight: bold;
    font-size: 300%;
    display: flex;
    justify-content: flex-start;
  }
  
  .preparation ul{
    position: relative;
    color: rgb(94, 39, 62);
    font-weight: bold;
    margin-left: 7%;
    padding:0%;
    font-size: 160%;
    margin-top: 7%;
    padding-bottom: 5%;
    padding-left: 5%;
  }
  
  .preparation li {
    display: relative;
    margin:0;
    padding: 1% 1% 0% 5% ;
    margin: -2%;
  }
  
  .preparation span{
    color: black;
    font-weight: bold;
  }
  
  li .comonPreparation{
    color: rgb(152, 148, 145);
    position: relative;
  }
  
  #totalContenido{
    top: -35px;
    left: 70px;
  }

  #preparationContenido{
    top: -35px;
    left: 140px;
  }

  #cookingContenido{
    top: -35px;
    left: 105px;
  }


  /* ingredients. */
  .ingredients{
    color: #74493C;
  }
  
  .ingredients h1{
    font-size: 4vw;
    padding-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .ingredients span{
    color: #989491;
  }
  
  .ingredients li{
    font-size: 160%;
    font-weight: bold;
    color: #74493C;
    padding-left: 3%;
    margin: 2%;
    max-width: 75%;
  }
  
  .ingredients hr{
    position: relative;
    border: 0.1vw solid rgb(200, 199, 199);
    margin: 0% 3%;
  }
  
  /* Instructions */
  .Instructions{
    color: #74493C; 
  }
  
  .Instructions h1{
    font-size: 4vw;
    padding-left: 4%;
    margin-top: 3%;
    margin-bottom: 2%;
  }
  
  .Instructions li{
    padding-left: 3%;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 0%;
    margin-right: 8%;
    max-width: 75%;
  }
  
  .resaltadoInstrucions{
    font-weight: bold;
    color: black;
  }
  
  li .comunInstrucions {
    color: rgb(152, 148, 145);
  }
  
  .Instructions hr{
    position: relative;
    border: 0.1vw solid rgb(200, 199, 199);
    margin: 0% 3%;
    margin-top: 4%;
  }
  
  /* nutrition */
  .nutrition h1{
    color:#74493C;
    font-size: 4vw;
    padding-left: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .nutrition p{
    padding-left: 4%;
    margin-top: -20px;
    margin-bottom: 5%;
    color:rgb(152, 148, 145);
  }
  
  .nutrition li{
    list-style: none;
    padding-left: 8%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  
  .primeroNutrition{
    position: relative;
    color: rgb(152, 148, 145);
    margin-top: 50%;
  }
  
  li .datosNutrition{
    position: relative;
    color:#74493C;
    padding-left: 40%;
    bottom: 20px;
  
  } 
  
  .nutrition hr{
    position: relative;
    border: 0.1vw solid rgb(200, 199, 199);
    margin-right: 12%;
    bottom: 22px;
  }
  
  footer{
    font-family: inherit;
  }
